<a href="https://colab.research.google.com/github/Animeshcoder/Calculus/blob/main/Python_MySQL_P1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Introduction**

This project is a Python script that uses PyMySQL to connect to a MySQL server, create a new database named medicine, and create a new table named medicines within that database. The medicines table has several columns, including Name, Description, Expiry_date, Number_of_tablets, and Price_per_tablet, which can be used to store information about different medicines. This script demonstrates how to use PyMySQL to interact with a MySQL server and execute SQL statements to create a new database and table.

### **Steps Involved**

**Connect to MySQL server**: The code starts by importing the pymysql module and using its connect function to create a connection to a MySQL server running on the local machine (localhost). The connect function takes several arguments, including the host, user, and password of the MySQL server. The resulting connection object represents the connection to the MySQL server.

**Create cursor:** Next, the code creates a cursor object by calling the cursor method of the connection object. A cursor is used to execute SQL statements on the MySQL server.

**Create database:** The code then uses the cursor to execute an SQL statement that creates a new database named medicine on the MySQL server. This is done by calling the execute method of the cursor object with an SQL CREATE DATABASE statement as its argument.

**Select database:** After creating the new database, the code uses the cursor to execute another SQL statement that selects the medicine database as the default database for subsequent SQL statements. This is done by calling the execute method of the cursor object with an SQL USE statement as its argument.

**Create table:** The code then uses the cursor to execute an SQL statement that creates a new table named medicines within the selected medicine database. This table has several columns, including Name, Description, Expiry_date, Number_of_tablets, and Price_per_tablet. This is done by calling the execute method of the cursor object with an SQL CREATE TABLE statement as its argument.

**Close cursor and connection:** Finally, after creating the new table, the code closes the cursor and connection objects by calling their respective close methods. This releases any resources held by these objects and terminates the connection to the MySQL server.

In [ ]:
import pymysql

# create a connection to the MySQL server
connection = pymysql.connect(host="yourhost", user="youruser", password="yourpassword")

# create a cursor object to execute SQL statements
cursor = connection.cursor()

# create a new database
cursor.execute("CREATE DATABASE medicine")

# select the new database
cursor.execute("USE medicine")

# create a new table with columns
cursor.execute("""
    CREATE TABLE  medicines(
        Name VARCHAR(2000),
        Description VARCHAR(2550),
        Expiry_date VARCHAR(255),
        Number_of_tablets VARCHAR(25),
        Price_per_tablet VARCHAR(255)
    )
""")

# close the cursor and connection
cursor.close()
connection.close()